/* GENERAL */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding: 130px 0;
}

img{
  width: 100%;
}

.container{
  max-width: 1500px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.price{
  color: black;
  font: 15px;
  text-decoration: line-through;
}

.price.red{
  color: red;
  font-size: 15px;
  font-weight: 800;
  padding-right: 5px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: yellow;
}

/* HEADER */
header{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #FF6900;
  box-shadow: 0px 0px 15px;
  z-index: 999;
}

header ul{
  list-style: none;
  display: flex;
}

header ul li a{
  display: inline-block;
  color: white;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

header .logo img{
  width: 150px;
}

header ul li i{
  color: white;
  padding-left: 10px;
  font-size: 20px;
}

header .icons i:hover{
  color: yellow;
}


/* MAIN */



section .box{
  padding-bottom: 30px;
}

section.container .box .model{
  position: relative;
  width: 400px;
  height: 580px;
}

/* effetti box hover */
section.container .box .model:hover {
  cursor: pointer;
}
section.container .box .model .image :last-child{
  display: none;
  position: absolute;
}

section.container .box .model:hover :last-child{
  display: inline-block
}
section.container .box .model .image:hover :first-child{
  display: none;
}


section .box .heart{
  position: absolute;
  top: 15px;
  right: 0;
  background-color: white;
  font-size: 30px;
  padding: 14px;
}
section .box .heart:hover{
  color: red;
}

section .box .discount{
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: red;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
}

section .box .bio{
  position: absolute;
  bottom: 40px;
  left: 70px;
  background-color: #228609 ;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
}

section .box #bio6{
  position: absolute;
  bottom: 40px;
  left: 0px;
}


section .box .text{
  padding: 5px 0;
  line-height: 23px;
}

section .box .text h5{
  font-weight: lighter;
  font-size: 15px;
}
section .box .text h3{
  text-transform: uppercase;
}
section .box .text .price{
  display: inline-block;
}


/* FOOTER */

footer{
  background-color: #1A1A1A;
  padding-bottom: 30px;
}

footer .container{
  color:white;
  padding-top: 30px;
}

footer .copyright{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer ul{
  list-style: none;
  display: flex;
  margin: 10px auto;
}

footer ul li a{
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

footer .social{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
footer .social .icons{
  padding: 10px 0px;
}

footer .social .icons i{
  font-size: 25px;
  padding-left: 10px;
}

footer .social .icons i:hover{
  color: yellow;
  cursor: pointer;
}



