/* GENERAL */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding: 60px 0;
}

img{
  width: 100%;
}


.container{
  max-width: 1100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* HEADER */
header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 70px;
  max-width: 100%;
  background-color: #FF6900;
}

header ul{
  list-style: none;
  display: flex;
}

header ul li a{
  display: inline-block;
  color: white;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

header ul li a:hover{
  text-decoration: underline;
  color: yellow;
}

header img{
  width: 150px;
}

header .icons i{
  color: white;
  padding-left: 10px;
  font-size: 20px;
}

header .icons i:hover{
  color: yellow;
}


/* MAIN */

.container .box{
  background-color: red;

  /* DEBUG */
  height: 500px;
  width: 360px;
}

/* FOOTER */

footer{
  background-color: #1A1A1A;
  height: 80px;
}